/*My class*/
h3{
/*	color:hsl( 108, 100%, 50%);
	font-size: 5.4em;*/
/*	background: hsl( 108, 100%, 50%);*/

}
/*text_content{

	background-color: hsl( 108, 100%, 50%);
}*/


#graph{
	margin: 0 auto;
position: relative;
/* left: 302px; */
text-align: center;
}


button {
float: left;
border-radius: 0;
margin-right: 1px;
margin-bottom: 0.8em;
display: inline-block;
padding: 0.5em 1.0em;
background: #EEE;
border: none;
/*border-radius: 7px;*/
background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
color: #222;
font-weight: 500;
text-shadow: 0 1px white;
cursor: pointer;
}


.isChecked{
	background-color: #28F;	
	color: white;
	text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
	float: left;
	border-radius: 0;
	margin-right: 1px;
}

.iconimg_plus{
	max-width: 47px;
	position: absolute;
	right: 19px;
	bottom: 50px;
}

.iconimg_minus{
	max-width: 100px;
	position: absolute;
	right: 11px;
	bottom: 50px;
}

.hasTooltip {
    position:relative;
}
.hasTooltip span {
    display:none;
}

.hasTooltip:hover span {
    display:block;
    background-color:black;
    border-radius:5px;
    color:white;
    box-shadow:1px 1px 3px gray;
    position:absolute;
    padding:5px;
    top:1.3em;
    left:0px;   
    max-width:200px;
}

.intro {
	position: absolute;
	margin-top: 200px;
	margin-left: 75px;
	margin-right: 1450px;
	font-size: 25px;

}

.instructions {
	position: absolute;
	visibility: visible;
	margin-top: 600px;
	margin-left: 50px;
}
